# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDES
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log

# Project specific
data/processed/
data/raw/
data/storage/
data/vector_store/
.ipynb_checkpoints/

# Pipenv
Pipfile.lock
Pipfile